@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyBG {
  background-image: url("/assets/images/bgImg1.webp");
  background-color: black;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --primaryBG: #0e1726;
    --secondaryBG: #e8e8e8;

    --primaryAccent: #506690;
    --secondaryAccent: #181f32;

    --primaryText: slate-400;
    --secondaryText: #eeeeeec8;

    --primaryHover: #4a62a6;
    --secondaryHover: blue-500;

    --primaryTextHover: #2053ee;
    --secondaryTextHover: #888ea8;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: none;
}

/*  Animation of side bar  ================================================================================== */
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-right {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
  }
}
@keyframes slide-right {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
  }
}
/*  Animation of side bar  ================================================================================== */

.toastSuccess {
  background-color: rgb(9, 9, 11); /* Green background */
  color: white;
  padding: 25px 15px;
  font-size: 1rem;
}

.toastError {
  background-color: rgb(127, 29, 29); /* Red background */
  color: white;
  padding: 25px 15px;
  font-size: 1rem;
}
